# Настройки PostgreSQL
POSTGRES_DB=aegis
POSTGRES_USER=postgres
POSTGRES_PASSWORD=aegis-secure-db-pass-2026

# Токен администратора для авторизации в API
ADMIN_TOKEN=aegis-secure-token-2026

# Ссылки для подключения к базе данных для бэкенда и Go-оркестратора
DATABASE_URL=postgresql+asyncpg://postgres:aegis-secure-db-pass-2026@127.0.0.1:5432/aegis
DB_CONN_STR=postgresql://postgres:aegis-secure-db-pass-2026@127.0.0.1:5432/aegis?sslmode=disable
